.swiper {
  width: 70%;
  height: 30vh;
  border-radius: 0.3rem;
  overflow: hidden;
  z-index: -100000;
}

.swiper-button-next {
  background-image: url(../images/right-arrow.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next::after {
  display: none;
}
.swiper-button-prev {
  background-image: url(../images/left-arrow.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.swiper-button-prev::after {
  display: none;
}

.swiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .swiper {
    width: 50%;
    height: 27vh;
  }
}

@media (max-width: 1075px) {
  .swiper {
    width: 60%;
  }
}

@media (max-width: 1040px) {
  .swiper {
    width: 55%;
  }
}

@media (max-width: 1029px) {
  .swiper {
    width: 60%;
  }
}

@media (max-width: 1000px) {
  .swiper {
    width: 58%;
  }
}

@media (max-width: 915px) {
  .swiper {
    width: 100%;
  }
}
